{% extends 'users/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static '/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static '/css/main_style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/profile_style.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alatsi&family=Alegreya+SC&family=Comforter&family=Comforter+Brush&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="{% static '/img/logos/kudlr1 1.svg' %}" type="image/x-icon" />
{% endblock %}

{% block content %}
<div class="body">
  <div class="wrapper">
    <div class="content">
      <div class="container">
        <div class="profile">
          <div class="user-block">
            <div class="user-block_info">
              <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <img
                  src="{{ request.user.profile.get_image }}"
                  alt="аватар"
                  class="user-block_avatar"
                />
                {{ profile_form.image }}
                <ul class="user-block_info_links">
                  <li>
                    {{ user_form.username }}
                  </li>
                  <li>
                    <a href="#"><img src="{% static '/img/icons/tg.svg' %}" alt="" /></a>
                    {{ profile_form.tg_link }}
                  </li>
                  <li>
                    <a href="#"><img src="{% static '/img/icons/vk.svg' %}" alt="" /></a>
                    {{ profile_form.vk_link }}
                  </li>
                  <li>
                    <a href="#"><img src="{% static '/img/icons/git.svg' %}" alt="" /></a>
                    {{ profile_form.git_link }}
                  </li>
                </ul>
                <input type="submit" value="Save">
            </form>
            </div>
          </div>
          <img src="{% static '/img/Line 1.svg' %}" alt="" class="line" />
          <div class="user-roadmaps">
            <h1><a href="/users/{{ request.user.username }}/user_roadmaps">Roadmaps</a></h1>
            <ul class="user-roadmaps_list">
              {% for rm in user_roadmaps %}
                <li><a href="/users/{{ request.user.username }}/roadmap/rm{{ rm.id }}">{{ rm.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
