{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  {% block links %} {% endblock %}

</head>
<body>
  <header>
    <nav class="nav">
      <div class="nav_container">
        <div class="nav_wrapper">
          <img
            src="{% static '/img/logos/logo (1).svg' %}"
            alt="логотип"
            class="nav_logo"
          />
          <ul class="nav_menu">
            <li><a href="#">about</a></li>
            <li><a href="#">contacts</a></li>
            <li><a href="#">features</a></li>
          </ul>
        </div>
        <div class="nav_button">
          <a href="{% url 'users:profile' %}" class="button_a">{{ request.user.username }}</a>
        </div>
      </div>
    </nav>
  </header>

  {% block content %} {% endblock %}

</body>
</html>