{% extends 'roadmaps/base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static '/css/main_style.css' %}" />
<link rel="stylesheet" href="{% static '/css/main.css' %}" />
<link rel="stylesheet" href="{% static '/css/reset.css' %}" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Alatsi&family=Alegreya+SC&family=Comforter&family=Comforter+Brush&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500&display=swap"
  rel="stylesheet"
/>

<link rel="icon" href="{% static '/img/logos/kudlr1 1.svg' %}" type="image/x-icon" />
{% endblock %}

{% block content %}
  Your roadmap:
  <h1>{{ user_roadmap.name }} : {{ user_roadmap.status }}</h1>
  <ul>
    {% for tech, topics in rm_data.items %}
      <li>
        ---{{ tech.name }} : {% if tech.is_done %} DONE {% endif %}
        <ul>
          {% for topic, sources in topics.items %}
            <li>
              ---------{{ topic.name }}
              <ul>
                {% for source in sources %}
                <li>
                  -------------{{ source.link }}
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <div>
    <a href="/users/{{ request.user.username }}/roadmap/rm{{ user_roadmap.id }}/update/">Edit</a>
  </div>
{% endblock %}
