.profile {
  display: flex;
  justify-content: space-between;
}
.user-block {
  height: 323px;
  width: 404px;
  background-color: #dab0de;
  border-radius: 20px;
  padding: 45px 24px 45px 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.user-block_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.user-block_avatar {
  width: 170px;
  height: 170px;
  /* boreder */
}
.user-block_info_links h1 {
  font-size: 32px;
  font-weight: 500;
}
.user-block_info_links li {
  margin-bottom: 8px;
}
.user-block_button a {
  color: white;
  font-weight: 500;
  background-color: #2e3239;
  height: 40px;
  width: 260px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;

  &:hover {
    animation: scaleUp 0.3s forwards;
  }
  &:not(:hover) {
    animation: scaledown 0.3s forwards;
  }
}

.user-roadmaps {
  height: 323px;
  width: 550px;
  background-color: #dab0de;
  border-radius: 20px;
  padding: 24px 24px 24px 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.user-roadmaps h1 {
  font-size: 32px;
  font-weight: 500;
}
